.list-container {
  margin: 0px 16px;
  overflow-y: auto;
  height: calc(100vh - 80px);
}
.list-item {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px 0px;
  padding: 8px;
}
